{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="flex flex-col items-center justify-center max-w-full h-64 my-4 bg-no-repeat bg-cover bg-center" style="background-image:url('{% static 'img/ygy_bg.jpg' %}')">
        <div>
            <span class="text-white font-bold text-4xl">"어디로</span>
            <span class="text-green-300 font-bold text-4xl">배달</span>
            <span class="text-white font-bold text-4xl">해 드릴까요?"</span>
        </div>
        <span class="text-white font-bold mb-2 ">배달 받으실 동 이름은 아래와 같습니다.</span>
        <div class="flex justify-center w-full">
            <div class="flex flex-col justify-center bg-green-500 rounded-l-lg">
                <span class="text-center font-medium text-lg w-20 text-white">주소</span>
            </div>
            <input type="search" class="pl-5 h-10 w-1/4 rounded-r-lg" value="서울시 송파구 문정2동..." placeholder="건물명, 도로명, 지명으로 검색하세요." required />
        </div>
    </div>
    
    <div class="flex flex-wrap px-64 text" id="groups-list">
        <div v-for="group in groups" class="w-1/4 mb-2 px-2 overflow-hidden">
            <a v-if="group.name == 'Red'" href="../../#">
                <div v-bind:style="{'background-image':'url(' + group.photo + ')'}" class="w-full h-56 bg-cover bg-center rounded-lg mb-2 border border-gray-400">
                    <span v-if="group.name == 'Red'" class="text-black mt-4 ml-4 font-bold block truncate"></span>
                    <span v-else class="text-black mt-4 ml-4 font-bold block truncate">[[group.name]]</span>
                </div>
            </a>
            <a v-else v-bind:href="'../../groups/' + group.id">
                <div v-bind:style="{'background-image':'url(' + group.photo + ')'}" class="w-full h-56 bg-cover bg-center rounded-lg mb-2 border border-gray-400">
                    <span v-if="group.name == 'Red'" class="text-black mt-4 ml-4 font-bold block truncate"></span>
                    <span v-else class="text-black mt-4 ml-4 font-bold block truncate">[[group.name]]</span>
                </div>
            </a>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
<script>
    var vm = new Vue({
        delimiters: ["[[", "]]"],
        el: "#groups-list",
        data: {
            id: "",
            name: "",
            photo: "",
            groups: [],
        },
        created: function () {
            console.log("created()");
            this.fetch_all_groups();
        },
        methods: {
            fetch_all_groups: function () {
                var vm = this;
                console.log(vm);
                axios.get("/api/home/")
                    .then(function (res) {
                        console.log("res.data", res.data);
                        vm.groups = res.data;
                    })
                    .catch(function (err) {
                        console.log("GET ERR", err);
                    })
            },
        },
    })
</script>
{% endblock javascript %}
