<div class="flex px-64 py-2 mb-3 border-b border-gray-500">
    <ul class="flex justify-between items-center w-2/3">
        <li v-on:click="ChangeUrl(group.id), fetch_all_restaurants(group.id)" v-for="group in groups" v-if="group.id != 1" class="px-2">
            <div class="border-b-2 border-white hover:border-black">
               <span class="text-black cursor-pointer">[[group.name]]</span>
            </div>
        </li>
    </ul>
    <div class="flex justify-end w-1/3 h-full">
        <input v-on:keyup.enter="search_restaurants()" v-model:trim="name" class="p-0 pl-2 w-3/4 h-8 text-sm" type="text" placeholder="음식점 또는 메뉴로 검색">
    </div>
</div>