{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="flex flex-col items-center justify-center max-w-full h-24 my-4 bg-no-repeat bg-cover bg-center" style="background-image:url('{% static 'img/ygy_bg.jpg' %}')">
        <div class="flex justify-center w-full">
            <input type="search" class="pl-3 h-10 w-1/4" value="서울시 송파구 문정2동..." placeholder="건물명, 도로명, 지명으로 검색하세요." required />
            <div class="flex flex-col justify-center bg-red-600">
                <span class="text-center font-medium text-lg w-20 text-white ">검색</span>
            </div>
        </div>
    </div>
    <div class="flex px-64 text pb-2 mb-3 border-b border-gray-500" name="{{group_pk}}" id="jsGroupList">
        
        {% for  in  %}
            
        {% endfor %}
            
        <ul class="flex justify-between items-center w-2/3">
            <li class="px-2 border-b-2 border-black hover:border-black">
                <a href="../../../groups/` + groups[i].pk + `/restaurants/">
                    <span class="text-black cursor-pointer">` + groups[i].name + `</span>
                </a>
            </li>
        </ul>
    </div>     
    <div class="flex flex-wrap px-64 text mb-3" id="restaurants-list"></div>

{% include 'restaurants/restaurants_ajax.html' %}
{% endblock content %}
