{% extends 'base.html' %}

{% block content %}
    {% include "mixins/address_display.html" %}

    <div id="contents">
        <div class="flex px-64 py-2 mb-3 border-b border-gray-500">
            <ul class="flex justify-between items-center w-2/3">
                <li v-on:click="ChangeUrl(group.id), fetch_restaurants(group.id)" v-for="group in groups" v-if="group.id != 1">
                    <div class="border-b-2 hover:border-black" v-bind:class="selected_group_id == group.id?'border-black':'border-white'">
                       <span class="px-2 text-black cursor-pointer">[[group.name]]</span>
                    </div>
                </li>
            </ul>
            <div class="flex justify-end w-1/3 h-full">
                <input v-on:keyup.enter="search_restaurants()" v-model:trim="name" class="p-0 pl-2 w-3/4 h-8 text-sm" type="text" placeholder="음식점 또는 메뉴로 검색">
            </div>
        </div>

        <div class="flex flex-wrap px-64 text mb-3">
            <div class="w-full flex flex-wrap">
                <a v-for="restaurant in restaurants" class="w-1/2 h-32" v-bind:href="'../../restaurants/' + restaurant.id + '/'">
                    <div class="flex p-3 border border-gray-400">
                        <div class="w-24 h-24 bg-cover bg-center border border-gray-400" v-bind:style="{'background-image': 'url(../../media/' + restaurant.photo + ')' }"></div>    
                        <div class="flex flex-col p-3 ml-3">
                            <span class="text-black">[[restaurant.name]]</span>
                            <span class="mt-3 text-black text-xs">최소주문금액 : [[restaurant.minimum_amount]]원 | 배달요금 : [[restaurant.delivery_cost]]원</span>
                        </div>   
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
<script type="text/javascript">
    function ChangeUrl(group_id) {
        console.log("ChangeUrl ID : " + group_id);
        if(typeof(history.pushState) != "undefined") {
            history.pushState(null, null, "../../groups/" + group_id + "/")
        }
        else {
            location.href = "../../groups/" + group_id + "/";
        }
    }
</script>
<script>
    var vm = new Vue({
        delimiters: ["[[", "]]"],
        el: "#contents",
        data: {
            name: "",
            groups: [],
            restaurants: [],
            selected_group_id: "",
        },
        created: function () {
            console.log("created()");
            this.fetch_all_groups();
            this.fetch_restaurants();
        },
        methods: {
            fetch_all_groups: function () {
                var vm = this;

                axios.get("/api/groups-bar/")
                    .then(function (res) {
                        console.log("res.data", res.data);
                        vm.groups = res.data;
                        
                    })
                    .catch(function (err) {
                        console.log("GET ERR", err);
                    })
            },
            fetch_restaurants: function (group_id) {
                var vm = this;
                console.log("group id", group_id);
                if (typeof(group_id) == "undefined") {
                    group_id = {{group_id}};
                    console.log("group id", group_id);
                }
                
                axios.get("/api/" + group_id + "/restaurants-list/")
                    .then(function (res) {
                        console.log("res.data", res.data);
                        vm.restaurants = res.data;
                        vm.selected_group_id = group_id;
                        console.log("vm.restaurants", vm.restaurants);
                        console.log("vm.selected_group_id", vm.selected_group_id);
                    })
                    .catch(function (err) {
                        console.log("GET ERR", err);
                    })
            },
            search_restaurants: function () {
                var vm = this;
                var postData = {name: this.name};
                console.log(postData);
                axios.post("/api/search-restaurants/", postData)
                    .then(function (res) {
                        console.log("post res.data", res.data);
                        vm.restaurants = res.data;
                        console.log("post vm.restaurants", vm.restaurants);
                    })
                    .catch(function (err) {
                        console.log("POST ERR", err)
                    })
                this.name = "";
            },
        },
    })
</script>
{% endblock javascript %}
