{% extends 'base.html' %}

{% block content %}
    {% include "mixins/address_display.html" %}

    <div id="contents">
        <div class="flex px-64 py-2 mb-3 border-b border-gray-500 shadow-md">
            <ul class="flex justify-between items-center w-2/3">
                <li v-for="group in groups" v-if="group.id != 1">
                    <div class="border-b-2 border-white hover:border-black">
                        <a v-bind:href="'../../groups/' + group.id" class="px-2">
                            <span class="text-black cursor-pointer">[[group.name]]</span>
                        </a>
                    </div>
                </li>
            </ul>
            <div class="flex justify-end w-1/3 h-full">
                <input class="p-0 pl-2 w-3/4 h-8 text-sm" type="text" placeholder="음식점 또는 메뉴로 검색" disabled/>
            </div>
        </div>
        
        <div v-for="rest in restaurant" class="flex flex-col px-64 py-2 mb-3">
            <div class="border-r border-l border-t border-gray-400 p-2">
                <span class="font-bold">[[rest.name]]</span>
            </div>
            <div class="flex border border-gray-400 p-2 text-sm">
                <div v-bind:style="{'background-image': 'url(../../media/' + rest.photo + ')' }" class="w-32 h-32 bg-cover bg-center border border-gray-400"></div>
                <ul class="ml-5 flex flex-col justify-center">
                    <li class="mb-2">
                        <span class="text-gray-500 mr-2">최소주문금액</span>
                        <span>[[rest.minimum_amount]]</span>
                    </li>
                    <li class="mb-2">
                        <span class="text-gray-500 mr-2">배달요금</span>
                        <span>[[rest.delivery_cost]]</span>
                    </li>
                    <li class="mb-2">
                        <span class="text-gray-500 mr-2">영업시간</span>
                        <span>영업시간 : [[rest.start_time]] - [[rest.end_time]]</span>
                    </li>
                    <li class="mb-2">
                        <span class="text-gray-500 mr-2">결제방법</span>
                        <span v-for="(p_m, index) in payment_method">[[p_m.payment_method__name]]<span v-if="index == 0">, </span></span>
                    </li>
                </ul>
            </div>
            <div class="border-r border-l border-b border-gray-400 p-2 text-xs">
                <i class="far fa-bell"></i><span class="font-bold ml-1">사장님알림</span><span class="ml-3">[[rest.owner_comment]]</span>
            </div>
        </div>
        <div class="px-64">
            <span class="font-bold ml-2">메 뉴</span>
        </div>
        <div class="flex flex-col px-64 pb-2 mb-3">
            <ul>
                <li v-for="menu in menus" class="flex p-2 border border-gray-400">
                    <div v-bind:style="{'background-image': 'url(../../media/' + menu.photo + ')' }" class="text-right w-32 h-32 bg-cover bg-center border border-gray-400"></div>
                    <div class="flex flex-col justify-between ml-5 ">
                        <span class="font-bold mb-2">[[menu.name]]</span>
                        <span class="text-gray-500 mb-2">[[menu.description]]</span>
                        <span class="mb-2">[[menu.price]]</span>
                    </div>
                    
                </li>
            </ul>
            
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}

<script>
    // CSRF Token 관련하여 전역변수로 선언
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';

    var vm = new Vue({
        delimiters: ["[[", "]]"],
        el: "#contents",
        data: {
            groups: [],
            menus: [],
            restaurant: [],
            payment_method: [],
            restaurants_id: "{{restaurants_id}}",
        },
        created: function () {
            console.log("created()");
            this.fetch_all_groups();
            this.fetch_restaurant();
            this.fetch_menus();
        },
        methods: {
            fetch_all_groups: function () {
                var vm = this;

                axios.get("/api/groups-bar/")
                    .then(function (res) {
                        console.log("res.data", res.data);
                        vm.groups = res.data;
                        
                    })
                    .catch(function (err) {
                        console.log("GET ERR", err);
                    })
            },
            fetch_restaurant: function () {
                var vm = this;

                axios.get("/api/{{restaurant_id}}/restaurant-detail-api/")
                    .then(function (res) {
                        vm.restaurant = res.data.restaurant;
                        vm.payment_method = res.data.payment_method;
                        console.log("fetch_restaurant", res.data);
                    })
                    .catch(function (err) {
                        console.log("GET ERR", err);
                    })
            },
            fetch_menus: function () {
                var vm = this;

                axios.get("/api/{{restaurant_id}}/menus-list-api/")
                    .then(function (res) {
                        console.log("menus", res.data);
                        vm.menus = res.data;
                        
                    })
                    .catch(function (err) {
                        console.log("GET ERR", err);
                    })
            },
        },
    })
</script>
{% endblock javascript %}