{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous">
    <link href="{% static 'img/ygy_icon.jpg' %}" rel="shortcut icon" type="image/x-icon">
    <title>요기요 - 즐거움은 요기부터. 배달음식 주문은 역시 요기요!</title>
  </head>
  <body class="mt-20">
    <header class="container inset-0 max-w-full flex justify-between px-64 h-20 fixed border-none">
      <div class="flex items-center w-1/2 ml-4">
          <a class="mr-10" href="{% url 'common:home' %}">
            <img class="w-16" src="{% static 'img/ygy_logo.jpg' %}">
          </a>
      </div>
      
      {% include "partials/nav.html" %}
    </header>
      
    {% block content %}{% endblock %}
    
    {% block javascript %} {% endblock %}
    {% include "partials/footer.html" %}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
